<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:replace="~{common/layout::setContent(~{this::content})}">
		<th:block th:fragment="content">
			<div class="card m-2">
				<div class="card-header">
					Link URL Expressions
				</div>
				<div class="card-body">
					<a th:href="@{https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html}" 
						class="btn btn-info btn-sm">Absolute</a>
					<a href="update" class="btn btn-info btn-sm">Page-relative</a>
					<a th:href="@{/thymeleaf/update}" class="btn btn-info btn-sm">Context-relative(excluded contextpath)</a>
					<a th:href="@{~/app2/thymeleaf/update}" class="btn btn-info btn-sm">Server-relative(included contextpath)</a>
				
					<hr/>
					
					<!-- linkUrlExpressions/t1/detail?productId=xxx&pageNo=yyy -->
					<a data-th-href="@{/thymeleaf/linkUrlExpressions/t1/detail(productId=${cproductId}, pageNo=${cpageNo})}" class="btn btn-info btn-sm">Url Parameters</a>
					<a th:href="@{/thymeleaf/linkUrlExpressions/{typeId}/detail(typeId=${ctypeId}, productId=${cproductId}, pageNo=${cpageNo})}" class="btn btn-info btn-sm">Path variables</a>
					<a th:href="@{${curl1}(productId=${cproductId}, pageNo=${cpageNo})}" class="btn btn-info btn-sm">URL insert1</a>
					<a th:href="@{'/thymeleaf/linkUrlExpressions' + ${curl1}(productId=${cproductId}, pageNo=${cpageNo})}" class="btn btn-info btn-sm">URL insert2</a>
				</div>
			</div>
		</th:block>
	</th:block>
</html>